# Data Science Tools and Ecosystem

## Author
Mateo Hernández Meléndez

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List popular data science tools
- cover some examples to evaluating expressions in Python

Some of the popular languages that Data Scientists use are:
* python
* R
* SQL

Some of the commonly used libraries used by Data Scientists include:
+ Tensorflow
+ keras
+ seaborn

|Data Science Tools|
|-----------|
|Jupyter lab|
|R studio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
code=(3*4)+5
print(code)

17

This will convert 200 minutes to hours by diving by 60

In [4]:
def hours(minutes):
    hours=minutes/60
    return hours

hours(200)

3.3333333333333335